.coming-soon__button {
    width: 100%;
    padding-block: 1rem;
    border-radius: 200px;
    border: none;
    background-color: $Blue;
    color: white;
    font-size: 1.1rem;
    font-weight: $fw-600;
    font-family: 'Libre Franklin', sans-serif;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 1px 2px 20px 2px rgba(79,125,243,0.54);
}

@include mediaQuery($desktop) {
    .coming-soon__button {
       width: 30%;
       margin: 0;
    }
}

  @media only screen and (hover:hover) {
    .coming-soon__button:hover {
        opacity: .8;
    }
  }

 





